/web_netbeans24/build/
/web_netbeans24/dist/
*.class
*.log
*.tmp
*.bak
# Ignorar archivos privados de configuración de NetBeans
/web_netbeans24/nbproject/private/private.properties
/web_netbeans24/nbproject/private/private.xml
